backend/app/.env
backend/__pycache__/
backend/app/__pycache__/
backend/app/utils/__pycache__/
backend/app/utils/keyword/__pycache__/
uploads/
paper/
faiss_index.bin
metadata_store.pkl
current_vector_id.txt